<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="../static/dist/index.umd.js"></script>
  <script>
    var iatWS = io.connect('http://127.0.0.1:5000');
    const recorder = new RecorderManager("../static/dist");
    var content=""
    var chatFrame;
    var target_lang="zh"
    var user=""

<!--    iatWS.on('reply3', function(res) {-->
<!--        console.log(res)-->
<!--        let obj=JSON.parse(res)-->
<!--        content+="PronAccuracy: "+obj.PronAccuracy+"\nPronFluency: "+obj.PronFluency+"\n\n"-->
<!--        document.getElementById("parent").innerHTML=content-->
<!--    });-->
<!--    iatWS.on('reply5', function(res) {-->
<!--        content+=res-->
<!--        document.getElementById("parent").innerHTML=content-->
<!--        setTimeout(function(){-->
<!--			chatFrame.scrollTop = chatFrame.scrollHeight;-->
<!--		},0);-->
<!--    });-->

    var fileUploader;
    var files;
    window.onload = function () {
        chatFrame=document.getElementById("parent")
        if(document.getElementById("current_user"))
            user=document.getElementById("current_user").innerHTML
        fileUploader = document.getElementById('file-uploader');
        fileUploader.addEventListener('change', (event) => {
        files = event.target.files;
        console.log('files', files);

        let url = window.URL || window.webkitURL;

        document.getElementById("imgDisplay").setAttribute('src', url.createObjectURL(files[0]));

      });
    }
    function send_file(){
    	if(document.getElementById('tag').innerHTML=="Register"){
			alert("Please log in to proceed");
			return;
		}
        if (!files){
            alert("Please upload file!")
            return;
        }
        var formData = new FormData();
        var file = files[0];
        formData.append('file', file);
        formData.append('to_lang', target_lang);
        formData.append('user', user);

        content=""
        document.getElementById("parent").innerHTML=""
        files=""
        document.getElementById("file-uploader").value=""
        $.ajax({
            url: '/file2',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (res) {
                console.log(res)
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {},
            complete: function (res) {
                console.log(JSON.parse(res.responseText))
                content+=JSON.parse(res.responseText).result
                document.getElementById("parent").innerHTML=content
            }
        });
    }
    function lang_select(lang,lang_name){
        	target_lang=lang
        	document.getElementById('dropdownMenu1').innerHTML="Translate to "+lang_name
        }
  </script>
</head>
<body>
<nav style="box-shadow:1px 1px 1px 2px gray;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Assistant</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/chat">AI chat</a></li>
			<li><a href="/translator">translator</a></li>
			  <li><a href="/voice">real-time translation</a></li>
			  <li><a href="/chat2">writing grader</a></li>
			  <li><a href="/assess">oral assessment</a></li>
			  <li><a href="/video_chat">video chat</a></li>
			  <li><a href="/upload">speaking grader</a></li>
			  <li><a href="/text_summary">text summary</a></li>
			  <li class="active"><a href="/upload2">object detection<span class="sr-only">(current)</span></a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			{% if current_user %}
				  	<li><a id="current_user" href="javascript:void(0);">{{current_user}}</a></li>
                	<li><a id="tag" href="/logout">Logout</a></li>
                {% else %}
					<li><a id="current_user" href="/login">Login</a></li>
				  	<li><a id="tag" href="/reg">Register</a></li>
				  {% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<center>
    <div class="dropdown">
		  <button style="box-shadow:1px 1px 1px 2px gray;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Translate to
			<span class="caret"></span>
		  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="overflow-y: auto;position:absolute;z-index:2;left: 50%;right: 50%;">
				  <li onclick="lang_select('ara','Arabic')"><a href="#">Arabic</a></li>
				  <li onclick="lang_select('zh','Chinese')"><a href="#">Chinese</a></li>
				  <li onclick="lang_select('en','English')"><a href="#">English</a></li>
				  <li onclick="lang_select('fra','French')"><a href="#">French</a></li>
				  <li onclick="lang_select('pt','Portuguese')"><a href="#">Portuguese</a></li>
				  <li onclick="lang_select('ru','Russian')"><a href="#">Russian</a></li>
				  <li onclick="lang_select('spa','Spanish')"><a href="#">Spanish</a></li>
			  </ul>
		</div>
    <br>
    <img id="imgDisplay" style="width:300px;height:300px;box-shadow:1px 1px 1px 2px gray;border:1px solid #000;
					border-radius: 10px;" src="">
    <br><br>
    <div id="parent" style="text-align:left;white-space:pre-line;box-shadow:1px 1px 1px 2px gray;width:480px; border:1px solid #000;
					border-radius: 10px;
					height:120px; overflow-y: auto;resize:none"></div>
    <br>
    <div style="margin-top:10px;">
        <div style="vertical-align:middle;margin-left:40px;display: inline-block;">
        <input type="file" id="file-uploader" style="box-shadow:1px 1px 1px 2px gray;border: 1px solid black;border-radius: 10px;width:400px;height:100px;">
            <br>
        </div>
        <div style="vertical-align:middle;margin-left:5px;display: inline-block;">
        <button id="sendButton" type="button" style="box-shadow:1px 1px 1px 2px gray;" onclick="send_file()" class="btn btn-default">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</button>
            <br><br>
        </div>
	</div>
</center>

</body>
</html>