<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <style>

    ::-webkit-scrollbar {
      width: 6px;
    }


    ::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }


    ::-webkit-scrollbar-thumb {
      background-color: #6698FF;
    }


    ::-webkit-scrollbar-thumb:hover {
      background-color: #6698FF;
    }
    </style>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
        <script>
        var show_time=1;
        var pause=0
<!--        const choices=['A','B','C','D','E','F','G']-->
		var second;
        var minute;
        var oDiv;
        var answer;
        var answers_tmp=["-1","-1","-1","-1","-1","-1","-1","-1","-1","-1"]
        var user=""

        window.onload=function ()
        {
        	if(document.getElementById("current_user"))
            	user=document.getElementById("current_user").innerHTML
            if(user==""){
            	window.location.href = "/chat"
				alert("Please log in to proceed");
				return;
			}
        	$.ajax({
					url: "/load",
					type: "POST",
					data: {
					    current_user:user,
						practice_name: "listening4",
					},
					dataType: "json",
					success: function(response) {
						if (response.code!=-1)
						{
							for(i=31;i<41;i++){
								if (response.record_info[i-31]!="-1")
								{
									document.getElementById("blank"+i.toString()).value=response.record_info[i-31]
								}
							}
						}

					}
				});

            oDiv=document.getElementById('timer');
            second=1;
           	minute=0;

            setInterval(function(){
                if (pause==0)
                if (show_time==1){
                    if (second<=9 && minute<=9){
                         oDiv.innerHTML="0"+minute.toString()+":"+"0"+second.toString();
                    }
                    else if (second<=9){
                        oDiv.innerHTML=minute.toString()+":"+"0"+second.toString();
                    }
                    else if (minute<=9){
                        oDiv.innerHTML="0"+minute.toString()+":"+second.toString();
                    }
                    else{
                        oDiv.innerHTML=minute.toString()+":"+second.toString();
                    }
                }
                else{
                    oDiv.innerHTML="show timer"
                }

                if (pause==0)
                    second++;

                if(second==60){

                    second=0;
                    minute++;

                }
                if(minute==60){
                    minute=0;
                }

            },1000);

        };
<!--            var answers=[null,null,null,null,null]-->
			function onSave(){
				for(i=31;i<41;i++){
					console.log(document.getElementById("blank"+i.toString()).value)
					if (document.getElementById("blank"+i.toString()).value.trim()!="")
					{
						answers_tmp[i-31]=document.getElementById("blank"+i.toString()).value.trim()
					}
				}
				$.ajax({
					url: "/save",
					type: "POST",
					data: {
					    current_user:user,
						practice_name: "listening4",
						answers_to_save: JSON.stringify(answers_tmp)
					},
					dataType: "json",
					success: function(response) {
						alert("Answers saved successfully");
					}
				});
			}
            function onSubmit(){
            	$.ajax({
                    type: 'GET',
                    url: '/submit/listening4',
                    data: {
                    },
                    success: function (res) {
                        console.log(res);
                        answers=res
						for(i=31;i<41;i++){
							console.log(document.getElementById("blank"+i.toString()).value)
							if (document.getElementById("blank"+i.toString()).value.trim()!=answers[i-31])
							{
								document.getElementById("blank"+i.toString()).style.color="red"
								document.getElementById("answer"+i.toString()).style.color="green"
								document.getElementById("answer"+i.toString()).innerHTML=answers[i-31]
							}
							else{
								document.getElementById("blank"+i.toString()).style.color="green"
								document.getElementById("answer"+i.toString()).innerHTML=""
							}
						}
					}})
            }
            function switchTimer(){
                if (show_time==0){
                    show_time=1
                    if (second<=9 && minute<=9){
                         oDiv.innerHTML="0"+minute.toString()+":"+"0"+second.toString();
                    }
                    else if (second<=9){
                        oDiv.innerHTML=minute.toString()+":"+"0"+second.toString();
                    }
                    else if (minute<=9){
                        oDiv.innerHTML="0"+minute.toString()+":"+second.toString();
                    }
                    else{
                        oDiv.innerHTML=minute.toString()+":"+second.toString();
                    }
                }
                else{
                    show_time=0
                    oDiv.innerHTML="show timer"
                }
            }
            function Pause(){
                if (pause==0){
                    pause=1
                    document.getElementById("pause").innerHTML="Continue"
                }
                else{
                    pause=0
                    document.getElementById("pause").innerHTML="Pause"
                }
            }
        </script>
</head>
<body>
<nav style="box-shadow:1px 1px 1px 2px gray;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">IELTS Listening</a>
		</div>
          <!-- Collect the nav links, forms, and other content for toggling -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
			<li onclick="switchTimer()"><a id="timer" style="font-size:25px;width:740px;left:30%;right:70%;text-align:center;" href="#">00:00</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li onclick="onSubmit()"><a style="font-size:16px" href="#">Submit</a></li>
		  </ul>
            <ul class="nav navbar-nav navbar-right">
			<li onclick=""><a style="font-size:16px" href="/chat">Exit</a></li>
		  </ul>
			<ul class="nav navbar-nav navbar-right">
			<li onclick="onSave()"><a id="save" style="font-size:16px" href="#">Save</a></li>
		  </ul>
            <ul class="nav navbar-nav navbar-right">
			<li onclick="Pause()"><a id="pause" style="font-size:16px" href="#">Pause</a></li>
		  </ul>
			<ul class="nav navbar-nav navbar-right">
			{% if current_user %}
				  	<li><a id="current_user" href="javascript:void(0);">{{current_user}}</a></li>
				  {% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

    <center>
<audio class="audio" src="../static/listening_audio/IELTS15_test1_audio4.mp3" style="border-radius:25px;box-shadow:1px 1px 1px 2px gray;width:50%;" autoplay controls></audio>
        </center>
<div style="padding-left:2%;padding-right:2%;width:100%;white-space:pre-line;font-size:18px;overflow-y:auto;height:560px;display: inline-block;">
    <b>Questions 31–40</b>

Complete the notes below.

Write <b>ONE WORD ONLY</b> for each answer..

    <div style="font-size:24px;text-align:center;width:100%"><b>The Eucalyptus Tree in Australia</b></div>
	<b>Importance</b>

•      it provides <input id="blank31" placeholder="31" onfocus="this.placeholder=''" onblur="this.placeholder='31'" style="width:150px;text-align:center"><p id="answer31" style="display:inline-block"></p> and food for a wide range of species
•      its leaves provide <input id="blank32" placeholder="32" onfocus="this.placeholder=''" onblur="this.placeholder='32'" style="width:150px;text-align:center"><p id="answer32" style="display:inline-block"></p> which is used to make a  disinfectant

	<b>Reasons for present decline in number</b>

<b>A)  Diseases</b>

(i) ‘Mundulla Yellows’
       •  Cause – lime used for making <input id="blank33" placeholder="33" onfocus="this.placeholder=''" onblur="this.placeholder='33'" style="width:150px;text-align:center"><p id="answer33" style="display:inline-block"></p> was absorbed
                     – trees were unable to take in necessary iron  through their roots

(ii) ‘Bell-miner Associated Die-back’
       •  Cause – <input id="blank34" placeholder="34" onfocus="this.placeholder=''" onblur="this.placeholder='34'" style="width:150px;text-align:center"><p id="answer34" style="display:inline-block"></p> feed on eucalyptus leaves
                     – they secrete a substance containing sugar
                     –  bell-miner birds are attracted by this and keep  away other species

<b>B) Bushfires</b>

William Jackson's theory:
•       high-frequency bushfires have impact on vegetation,  resulting in the growth of  <input id="blank35" placeholder="35" onfocus="this.placeholder=''" onblur="this.placeholder='35'" style="width:150px;text-align:center"><p id="answer35" style="display:inline-block"></p>

•       mid-frequency bushfires result in the growth of  eucalyptus forests, because they:
        – make more <input id="blank36" placeholder="36" onfocus="this.placeholder=''" onblur="this.placeholder='36'" style="width:150px;text-align:center"><p id="answer36" style="display:inline-block"></p> available to the trees
        – maintain the quality of the <input id="blank37" placeholder="37" onfocus="this.placeholder=''" onblur="this.placeholder='37'" style="width:150px;text-align:center"><p id="answer37" style="display:inline-block"></p>

•       low-frequency bushfires result in the growth of ‘<input id="blank38" placeholder="38" onfocus="this.placeholder=''" onblur="this.placeholder='38'" style="width:150px;text-align:center"><p id="answer38" style="display:inline-block"></p> rainforest’, which is:
        – a <input id="blank39" placeholder="39" onfocus="this.placeholder=''" onblur="this.placeholder='39'" style="width:150px;text-align:center"><p id="answer39" style="display:inline-block"></p>
 ecosystem
        – an ideal environment for the <input id="blank40" placeholder="40" onfocus="this.placeholder=''" onblur="this.placeholder='40'" style="width:150px;text-align:center"><p id="answer40" style="display:inline-block"></p> of the bell-miner
</div>

</body>
</html>