<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>reg</title>
		<style>
			.background {
			  background: linear-gradient(to top, #46A3FF, #D2E9FF);
			}
		</style>
		<link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function onSubmit(){
				document.getElementById('submitButton').disabled=true
				var login_name = $("#inputEmail3").val();
				var login_pwd = $("#inputPassword3").val();
				var login_pwd2 = $("#confirmPassword3").val();

				if( login_name == undefined || login_name.length < 1 ){
					 alert( "Please enter the username." );
					 document.getElementById('submitButton').disabled=false
					return ;
				}

				if( login_pwd == undefined || login_pwd.length < 1 ){
					 alert( "Please enter the correct password." );
					 document.getElementById('submitButton').disabled=false
					return ;
				}

				if( login_pwd2 == undefined || login_pwd2 !=login_pwd ){
					 alert( "Please enter the correct confirm password." );
					 document.getElementById('submitButton').disabled=false
					return ;
				}

				$.ajax({
					url: "/reg",
					type: "POST",
					data:{
						login_name:login_name,
						login_pwd:login_pwd,
						login_pwd2:login_pwd2,
					},
					dataType:'json',
					success:function( res ){
						document.getElementById('inputEmail3').value="";
						document.getElementById('inputPassword3').value="";
						document.getElementById('confirmPassword3').value="";
						alert(res.msg);
						document.getElementById('submitButton').disabled=false
						if(res.code==200)
							window.location.href = "/login" // go to the login page
					}
				});
			}
		</script>
	</head>
	<body>
	<div class="background" style="height:715px">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Assistant</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="/login">Login</a></li>
				  <li><a href="/reg">Register</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<center>

		<div class="panel panel-default" style="background: linear-gradient(to top, #00BB00, #CEFFCE);width:40%; margin-top:100px">
		  <div class="panel-heading" style="background-color:grey">
			<h3 class="panel-title" style="color:white">Register</h3>
		  </div>
		  <div class="panel-body">

			<form class="form-horizontal" style="width:80%;">
			  <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
				  <input class="form-control" id="inputEmail3" style="background-color:#E0E0E0;" placeholder="Username">
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="inputPassword3" style="background-color:#E0E0E0;" placeholder="Password">
				</div>
			  </div>
				<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Confirm</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="confirmPassword3" style="background-color:#E0E0E0;" placeholder="Password">
				</div>
			  </div>

			  <div class="form-group" style="margin-left:-130px">
				<div class="col-sm-offset-2 col-sm-10">
				  <button id="submitButton" type="button" onclick="onSubmit()" style="background-color:#66B3FF" class="btn btn-default">Sign up</button>
				</div>
			  </div>
			</form>

		  </div>
		</div>

		</center>
	</div>
	</body>
</html>