<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>translator</title>
		<style>
			.clearfix::after {
				content: "";
				display: table;
				clear: both;
			}
		</style>
		<link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
		<script src="../static/jquery-3.7.1.min.js"></script>
		<script src="../static/main.js"></script>
	</head>
	<body>
		<div hidden="hidden" id="id">Translator</div>
		<center>
			<br><br><br><br>
			<div id="parent" style=" width:480px; border:1px solid #000;
			border-radius: 10px;
			height:480px; overflow-y: auto"></div>
			<br><br>
	<!--		<input type="button"-->
	<!--			   id="clearButton"-->
	<!--			   value="clear"-->
	<!--			   onclick="clearChat()">-->
			<button id="clearButton" type="button" onclick="clearChat()" class="btn btn-default"
								style="display: inline-block;">
							<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
			</button>
			<input type="hidden" id="system" value="translate the English sentence into Chinese">
			<textarea
				   placeholder="Enter the question"
				   cols="63" rows="3"
				   id="myquestion"
				   style="resize:none"
				   onkeydown="if(!event.shiftKey && event.keyCode === 13 ) chat(1)"
			></textarea>
	<!--		<input type="button"-->
	<!--			   id="sendButton"-->
	<!--			   value="send"-->
	<!--			   onclick="chat(0)">-->
			<div style="display: inline-block;">
				<div id="sendButtonArea">
					<button id="sendButton" type="button" onclick="chat(1)" class="btn btn-default">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</button>
				</div>
		<!--		<input type="button"-->
		<!--			   hidden="hidden"-->
		<!--			   id="stopButton"-->
		<!--			   value="stop"-->
		<!--			   onclick="abortStream(0)">-->
				<div id="stopButtonArea" hidden="hidden">
				<button id="stopButton" type="button" onclick="abortStream(1)" class="btn btn-default">
								<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
				</button>
				</div>
			</div>
			<br><br>
		</center>
	</body>
</html>
