<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
		<script src="../static/jquery-3.7.1.min.js"></script>
	<script>
		function send(){
			tmp_question=document.getElementById('myquestion').value
			document.getElementById('myquestion').value=""

			if (tmp_question.trim()==""){
				alert("Cannot send empty message!")
				return;
			}

			$.ajax({
				url: "/summarize",
				type: "POST",
				data: {
					text: tmp_question.trim()
				},
				dataType: "json",
				success: function(response) {
						console.log(response)
					document.getElementById('parent').innerHTML="Abstract: \n"+response.result.abstract_summary+"\n\nKey Points: \n"+response.result.key_points

				}
			});
		}
	</script>
</head>
<body>
<center>
    <br><br><br><br>
   <div id="parent" style="white-space:pre-line;text-align:left;box-shadow:1px 1px 1px 2px gray;width:480px; border:1px solid #000;
			border-radius: 10px;
			height:480px; overflow-y: auto;resize:none"></div>
    <br>
    <button id="clearButton" type="button" onclick="" class="btn btn-default" style="box-shadow:1px 1px 1px 2px gray;height:35px;vertical-align:middle;display: inline-block;">
						<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
			</button>
<textarea
				   placeholder="Enter the question"
				   cols="63" rows="3"
				   id="myquestion"
				   style="box-shadow:1px 1px 1px 2px gray;vertical-align:middle;border-radius: 10px;resize:none"
				   onkeydown="if(!event.shiftKey && event.keyCode === 13 ) send()"
			></textarea>
    <div style="vertical-align:middle;display: inline-block;">
				<button id="sendButton" style="box-shadow:1px 1px 1px 2px gray;height:35px" type="button" onclick="send()" class="btn btn-default">
							<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
				</button>
			</div>

</center>


</body>
</html>