<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="../static/dist/index.umd.js"></script>
  <script>
    var iatWS = io.connect('http://127.0.0.1:5000');
    const recorder = new RecorderManager("../static/dist");
    var content=""
    var chatFrame;
    var target_lang="zh"

    iatWS.on('reply3', function(res) {
        console.log(res)
        let obj=JSON.parse(res)
        content+="PronAccuracy: "+obj.PronAccuracy+"\nPronFluency: "+obj.PronFluency+"\n\n"
        document.getElementById("parent").innerHTML=content
    });
    iatWS.on('reply5', function(res) {
        content+=res
        document.getElementById("parent").innerHTML=content
        setTimeout(function(){
			chatFrame.scrollTop = chatFrame.scrollHeight;
		},0);
    });

    var fileUploader;
    var files;
    window.onload = function () {
        chatFrame=document.getElementById("parent")
        fileUploader = document.getElementById('file-uploader');
        fileUploader.addEventListener('change', (event) => {
        files = event.target.files;
        console.log('files', files);
      });
    }
    function send_file(){
        if (!files){
            alert("Please upload file!")
            return;
        }
        var formData = new FormData();
        var file = files[0];
        formData.append('file', file);
        formData.append('to_lang', target_lang);

        content=""
        document.getElementById("parent").innerHTML=""
        files=""
        document.getElementById("file-uploader").value=""
        $.ajax({
            url: '/file2',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (res) {
                console.log(res)
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {},
            complete: function (res) {
                console.log(JSON.parse(res.responseText))
                content+=JSON.parse(res.responseText).result
                document.getElementById("parent").innerHTML=content
            }
        });
    }
    function lang_select(lang,lang_name){
        	target_lang=lang
        	document.getElementById('dropdownMenu1').innerHTML="Translate to "+lang_name
        }
  </script>
</head>
<body>
<center>
    <br><br><div class="dropdown">
		  <button style="box-shadow:1px 1px 1px 2px gray;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Translate to
			<span class="caret"></span>
		  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="overflow-y: auto;position:absolute;z-index:2;left: 50%;right: 50%;">
				  <li onclick="lang_select('ara','Arabic')"><a href="#">Arabic</a></li>
				  <li onclick="lang_select('zh','Chinese')"><a href="#">Chinese</a></li>
				  <li onclick="lang_select('en','English')"><a href="#">English</a></li>
				  <li onclick="lang_select('fra','French')"><a href="#">French</a></li>
				  <li onclick="lang_select('pt','Portuguese')"><a href="#">Portuguese</a></li>
				  <li onclick="lang_select('ru','Russian')"><a href="#">Russian</a></li>
				  <li onclick="lang_select('spa','Spanish')"><a href="#">Spanish</a></li>
<!--					<li><a href="#">Another action</a></li>-->
<!--					<li><a href="#">Something else here</a></li>-->
<!--					<li role="separator" class="divider"></li>-->
<!--					<li><a href="#">Separated link</a></li>-->
			  </ul>
		</div>
    <br>
    <div id="parent" style="text-align:left;white-space:pre-line;box-shadow:1px 1px 1px 2px gray;width:480px; border:1px solid #000;
					border-radius: 10px;
					height:480px; overflow-y: auto;resize:none"></div>
    <br>
    <div style="margin-top:10px;">
        <div style="vertical-align:middle;margin-left:40px;display: inline-block;">
        <input type="file" id="file-uploader" style="box-shadow:1px 1px 1px 2px gray;border: 1px solid black;border-radius: 10px;width:400px;height:100px;">
            <br>
        </div>
        <div style="vertical-align:middle;margin-left:5px;display: inline-block;">
        <button id="sendButton" type="button" style="box-shadow:1px 1px 1px 2px gray;" onclick="send_file()" class="btn btn-default">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</button>
            <br><br>
        </div>
	</div>
</center>

</body>
</html>
