<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
		<script src="../static/jquery-3.7.1.min.js"></script>
	<script>
		var user=""

		window.onload = function () {
			if(document.getElementById("current_user"))
				user=document.getElementById("current_user").innerHTML
        }

		function send(){
			tmp_question=document.getElementById('myquestion').value
			document.getElementById('myquestion').value=""

			if (tmp_question.trim()==""){
				alert("Cannot send empty message!")
				return;
			}

			$.ajax({
				url: "/summarize",
				type: "POST",
				data: {
					current_user: user
					text: tmp_question.trim()
				},
				dataType: "json",
				success: function(response) {
						console.log(response)
					document.getElementById('parent').innerHTML="Abstract: \n"+response.result.abstract_summary+"\n\nKey Points: \n"+response.result.key_points

				}
			});
		}
	</script>
</head>
<body>
<nav style="box-shadow:1px 1px 1px 2px gray;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Assistant</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/chat">AI chat</a></li>
			<li><a href="/translator">translator</a></li>
			  <li><a href="/voice">real-time translation</a></li>
			  <li><a href="/chat2">writing grader</a></li>
			  <li><a href="/assess">oral assessment</a></li>
			  <li><a href="/video_chat">video chat</a></li>
			  <li><a href="/upload">speaking grader</a></li>
			  <li class="active"><a href="/text_summary">text summary<span class="sr-only">(current)</span></a></li>
			  <li><a href="/upload2">object detection</a></li>

		  </ul>

		  <ul class="nav navbar-nav navbar-right">
			{% if current_user %}
				  	<li><a id="current_user" href="javascript:void(0);">{{current_user}}</a></li>
                	<li><a id="tag" href="/logout">Logout</a></li>
                {% else %}
					<li><a id="current_user" href="/login">Login</a></li>
				  	<li><a id="tag" href="/reg">Register</a></li>
				  {% endif %}

		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<center>
    <br><br>
   <div id="parent" style="white-space:pre-line;text-align:left;box-shadow:1px 1px 1px 2px gray;width:480px; border:1px solid #000;
			border-radius: 10px;
			height:480px; overflow-y: auto;resize:none"></div>
    <br>
    <button id="clearButton" type="button" onclick="" class="btn btn-default" style="box-shadow:1px 1px 1px 2px gray;height:35px;vertical-align:middle;display: inline-block;">
						<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
			</button>
<textarea
				   placeholder="Enter the question"
				   cols="63" rows="3"
				   id="myquestion"
				   style="box-shadow:1px 1px 1px 2px gray;vertical-align:middle;border-radius: 10px;resize:none"
				   onkeydown="if(!event.shiftKey && event.keyCode === 13 ) send()"
			></textarea>
    <div style="vertical-align:middle;display: inline-block;">
				<button id="sendButton" style="box-shadow:1px 1px 1px 2px gray;height:35px" type="button" onclick="send()" class="btn btn-default">
							<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
				</button>
			</div>

</center>


</body>
</html>