<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>speaking grader</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap_v3/css/bootstrap.min.css">
		<script src="../static/plugins/bootstrap_v3/js/jquery-3.7.1.min.js"></script>
		<script src="../static/plugins/bootstrap_v3/js/bootstrap.min.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="../static/dist/index.umd.js"></script>
  <script>
    var iatWS = io.connect('http://127.0.0.1:5000');
    const recorder = new RecorderManager("../static/dist");
    var content=""
    var chatFrame;
    var user=""

    iatWS.on('reply3', function(res) {
<!--        console.log(res)-->
        if (res.user!=user)
        	return;
        let obj=JSON.parse(res.result)
        content+="PronAccuracy: "+obj.PronAccuracy+"\nPronFluency: "+obj.PronFluency+"\n\n"
        document.getElementById("parent").innerHTML=content
    });
    iatWS.on('reply5', function(res) {
    	if (res.user!=user)
        	return;
        content+=res.result
        document.getElementById("parent").innerHTML=content
        setTimeout(function(){
			chatFrame.scrollTop = chatFrame.scrollHeight;
		},0);
    });

    var fileUploader;
    var files;
    window.onload = function () {
        chatFrame=document.getElementById("parent")
        if(document.getElementById("current_user"))
            user=document.getElementById("current_user").innerHTML
        fileUploader = document.getElementById('file-uploader');
        fileUploader.addEventListener('change', (event) => {
        files = event.target.files;
        console.log('files', files);
      });
    }
    function send_file(){
        if (!files){
            alert("Please upload file!")
            return;
        }
        var formData = new FormData();
        var file = files[0];
        formData.append('file', file);
        formData.append('user', user);
        content=""
        document.getElementById("parent").innerHTML=""
        files=""
        document.getElementById("file-uploader").value=""
        $.ajax({
            url: '/file',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (res) {
                console.log(res)
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {},
            complete: function (res) {
                console.log(res.responseText)
                content+=res.responseText
                document.getElementById("parent").innerHTML=content
            }
        });
    }
    recorder.onFrameRecorded = ({ isLastFrame, frameBuffer }) => {

              iatWS.emit('update3',{current_user: user, data: new Int8Array(frameBuffer)})
              if (isLastFrame) {


              }

          };
            function play(){
            document.getElementById('playButton').disabled=true
            document.getElementById('playButtonArea').hidden=true

            document.getElementById('stopPlayArea').hidden=false
            document.getElementById('stopPlay').disabled=false

            iatWS.emit('play3',{current_user: user})

            recorder.start({
                sampleRate: 16000,
                frameSize: 1280,
            });

        }
        function stop_recording(){

            recorder.stop();
            document.getElementById('stopPlay').disabled=true
            document.getElementById('stopPlayArea').hidden=true

            document.getElementById('playButtonArea').hidden=false
            document.getElementById('playButton').disabled=false

            iatWS.emit('update3',{'type':'assess', current_user: user, stop:"stop"})
            content=""
            document.getElementById("parent").innerHTML=""
        }


  </script>
</head>
<body>
<nav style="box-shadow:1px 1px 1px 2px gray;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Assistant</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/chat">AI chat</a></li>
			<li><a href="/translator">translator</a></li>
			  <li><a href="/voice">real-time translation</a></li>
			  <li><a href="/chat2">writing grader</a></li>
			  <li><a href="/assess">oral assessment</a></li>
			  <li><a href="/video_chat">video chat</a></li>
			  <li class="active"><a href="/upload">speaking grader<span class="sr-only">(current)</span></a></li>
			  <li><a href="/text_summary">text summary</a></li>
			  <li><a href="/upload2">object detection</a></li>

		  </ul>

		  <ul class="nav navbar-nav navbar-right">
			{% if current_user %}
				  	<li><a id="current_user" href="javascript:void(0);">{{current_user}}</a></li>
                	<li><a id="tag" href="/logout">Logout</a></li>
                {% else %}
					<li><a id="current_user" href="/login">Login</a></li>
				  	<li><a id="tag" href="/reg">Register</a></li>
				  {% endif %}

		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<center>
    <br>
    <textarea id="parent" style="box-shadow:1px 1px 1px 2px gray;width:480px; border:1px solid #000;
					border-radius: 10px;
					height:480px; overflow-y: auto;resize:none"></textarea>
    <br>
    <div style="margin-top:10px;">
        <div style="margin-left:40px;display: inline-block;">
        <input type="file" id="file-uploader" style="box-shadow:1px 1px 1px 2px gray;border: 1px solid black;border-radius: 10px;width:400px;height:100px;">
            <br>
        </div>
        <div style="margin-left:5px;display: inline-block;">
        <div id="playButtonArea" style="">
            <button id="playButton" style="box-shadow:1px 1px 1px 2px gray;" type="button" onclick="play()" class="btn btn-default">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </div>
        <div id="stopPlayArea" hidden="hidden">
            <button id="stopPlay" style="box-shadow:1px 1px 1px 2px gray;" disabled="true" type="button" onclick="stop_recording()" class="btn btn-default">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
        </div>
        <button id="sendButton" type="button" style="box-shadow:1px 1px 1px 2px gray;" onclick="send_file()" class="btn btn-default">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</button>
            <br><br><br>
        </div>
	</div>
</center>

</body>
</html>